/*********************************HEADER, LOGO-MENU Y MENU-BTN RESPONSIVE*********************/
.header {
  padding: 1rem;
  width: 100%;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[id] {
  scroll-margin-top: 8ex;
}

.logo a {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.menu-btn {
  outline: thin solid gray;
  border: 0;
  cursor: pointer;
  background-color: red;
}

.menu-btn svg {
  fill: wheat;
}

.menu {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  [id] {
    scroll-margin-top: 5ex;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
}
