/*****************************************MAIN: SECCIÓN PRINCIPAL******************************/
.main {
  //Container MAIN
  .container {
    background-color: $white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //Container TEXTOS
    .texts-container {
      text-align: center;
      &__title {
        margin-bottom: 0.8rem;
        font-family: "Open Sans", sans-serif;
        font-size: var(--step-3);
        color: $text-color;
        font-weight: bold;
      }
      &__paragraph {
        margin: 0;
        margin-bottom: 2rem;
        color: $light-gray;
        font-size: var(--step-1);
      }
    }
    //Container BUTTONS
    .buttons-container {
      &__btn {
        min-width: 290px;
        padding: 0.8rem 1.2rem;
        font-size: 1.7rem;
        font-weight: 700;
      }
    }
  }
}

//Media Querie MAIN
@media screen and (min-width: 64em) {
  .main {
    .container {
      flex-direction: row;
      justify-content: space-between;

      .texts-container {
        text-align: justify;
      }
      .buttons-container {
        margin-top: -3rem;
      }
    }
  }
}
