@import "variables";
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.none {
  display: none;
}

.btn-utilitie {
  background-color: $bg-btn;
  padding: 0.8rem;
  font-size: var(--step-1);
}
