/*VARIABLES. temas de Colores y Medidas extra.*/

$bg-primary: #ebebeb;
$color-logo: #f0615a;
$bg-btn: #1591c4;
$light-gray: #f2f2f2;
$text-color: #444444;
$white: white;
$black: black;
$max-width: 1200px;
